
table{
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin: 150px auto;
    color: #000000;
    border-radius: 20px;
}
table, th, td {
    border-collapse: collapse;
    padding: 10px;
}
th, td {
    background-color: #78a7f4;
    text-align: center;
    border-style:solid;
    border-color: #ffffff;
    border-radius: 15px;
    border-width: 5px;  
}

#Tablecaption{
    color: rgb(255, 255, 255);
    font-size: 50px;

}
h1{
    font-size: 40px;
    text-align: center;
}
a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 10px;
      
}

